doctype html
html
	head
		title= title

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==",crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css", rel="stylesheet" integrity="sha256-gJ9rCvTS5xodBImuaUYf1WfbdDKq54HCPz9wk8spvGs= sha512-weqt+X3kGDDAW9V32W7bWc6aSNCMGNQsdOpfJJz/qD/Yhp+kNeR+YyvvWojJ+afETB31L0C4eO0pcygxfTgjgw==" crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==", crossorigin="anonymous")

		link(href="#{basePath}/css/time-polyfill.css", rel="stylesheet")
		link(href="#{basePath}/chosen/chosen.min.css", rel="stylesheet")
		link(href="#{basePath}/css/jquery.highlighttextarea.css", rel="stylesheet")
		link(href="#{basePath}/css/jquery-ui.min.css", rel="stylesheet")
		link(href="#{basePath}/css/sweetalert.css", rel="stylesheet")
		link(href="#{basePath}/css/introjs.css", rel="stylesheet")

		link(href="#{basePath}/css/style.css", rel="stylesheet")

		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==", crossorigin="anonymous")
		script(src="#{basePath}/js/modernizer.js")
		script(src="#{basePath}/js/jquery.highlighttextarea.js")
		script(src="#{basePath}/js/jquery-ui.min.js")
		script(src="#{basePath}/js/sweetalert.min.js")
		script(src="#{basePath}/js/intro.js")

		link(rel="stylesheet", href="#{global.basePath}/css/page.css")
		link(rel="stylesheet", href="#{global.basePath}/css/planner.css")
		link(rel="stylesheet", href="#{global.basePath}/css/hwView.css")
		link(rel="stylesheet", href="#{global.basePath}/css/myDay.css")

		link(rel="stylesheet", href="#{global.basePath}/css/prefs.css")

		script(type="text/javascript", src="#{global.basePath}/js/moment.min.js")
		script(type="text/javascript", src="#{global.basePath}/js/time-polyfill.min.js")
		script(type="text/javascript", src="#{global.basePath}/chosen/chosen.jquery.min.js")

		script(type="text/javascript", src="#{global.basePath}/js/utils.js")
		script(type="text/javascript", src="#{global.basePath}/js/page.js")

		script(type="text/javascript", src="#{global.basePath}/js/api.js")

		script(type="text/javascript", src="#{global.basePath}/js/overview.js")
		script(type="text/javascript", src="#{global.basePath}/js/planner.js")
		script(type="text/javascript", src="#{global.basePath}/js/hwView.js")
		script(type="text/javascript", src="#{global.basePath}/js/myDay.js")
		
		if user.level > 0
			script(type="text/javascript", src="#{global.basePath}/js/admin.js")

		script(type="text/javascript", src="#{global.basePath}/js/prefs.js")

	body
		div(id="basePath", class="hidden")= global.basePath
		div(id="username", class="hidden")= user.username
		nav(class="navbar navbar-default navbar-fixed-top")
			div(class="container-fluid")
				div(class="navbar-header", data-step="8", data-intro="We hope you enjoy PlanHub! To get started, click Done below, and then select a tab.")
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse", aria-expanded="false")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="#")
						img(src="#{global.basePath}/images/icon128.png", width="24px", height="24px", class="planhub-logo-nav")
						span PlanHub
				
				div(class="collapse navbar-collapse", id="navbar-collapse")
					ul(class="nav navbar-nav")
						li
							a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
								| Go 
								span.caret

							ul.dropdown-menu.go-dropdown(role='menu')
								li
									a(data-page="overview") Overview
								li
									a(data-page="planner") Planner
								li
									a(data-page="hwView") Homework View
								//li.divider
								//li
								//	a(href='#') Settings
								//li
								//	a(href='#') Admin

					ul(class="nav navbar-nav navbar-right")
						li(class="feedback-btn", data-step="5", data-intro="Have a good idea for PlanHub? Send it to us with this button!")
							a(class="ideaBtn", data-toggle="tooltip", data-placement="bottom", title="Have a great new idea? Send it to us.")
								i(class="fa fa-lightbulb-o")
						li(class="feedback-btn", data-step="6", data-intro="Do you like a feature? Send us your thoughts with this button!")
							a(class="smileBtn", data-toggle="tooltip", data-placement="bottom", title="Like something? Send us a smile.")
								i(class="fa fa-smile-o")
						li(class="feedback-btn", data-step="7", data-intro="Have you found a bug? Do you dislike a feature? Send us your thoughts with this button!")
							a(class="frownBtn", data-toggle="tooltip", data-placement="bottom", title="Don't like something? Send us a frown.")
								i(class="fa fa-frown-o")
						li(class="navbar-text user-name")= user.name
						li
							a(href="#{basePath}/logout") Log out

		div(class="loadOverlay")
			i(class="fa fa-circle-o-notch fa-spin")
			span  Loading...
			div(class="loadWarn")
				div Loading is taking longer than usual.
				button(id="loadButton") Reload?

		div(id="feedback-modal", class="modal fade")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title")
							span(id="feedback-modal-title-first") Send a 
							span(class="feedback-type") 
					
					div(class="modal-body")
						p(class="feedback-desc")
						textarea(id="feedback-msg", placeholder="Write your message here...")
						strong The following information will be sent with your feedback:
						ul
							li
								span Your name (
								span= user.name
								span )
							li
								span Your username (
								span= user.username
								span )
							li
								input(type="checkbox", id="feedback-snapshot", checked="checked")
								span  (optional) A snapshot of the web page so we can see what you are talking about! This might contain information you are looking at, like your planner events. You don't have to include it if you don't want to.
						p Thanks for the feedback! Click "Submit" to send it!
					
					div(class="modal-footer feedback-footer-normal")
						button(type="button", class="btn btn-default", data-dismiss="modal") Close without submitting
						button(type="button", class="btn btn-primary", id="feedback-submit") Submit

					div(class="modal-footer feedback-footer-load hidden")
						i(class="fa fa-circle-o-notch fa-spin")
						span  Loading...

		div(id="prefs-modal", class="modal fade")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						h4
							span(id="prefs-feature-name")
							span  Preferences

					div(class="modal-body prefs-modal-body", id="prefs-overview-body")
						p This feature does not have any preferences you can change.

					div(class="modal-body prefs-modal-body", id="prefs-planner-body")
						p This feature does not have any preferences you can change.

					div(class="modal-body prefs-modal-body", id="prefs-hwView-body")
						input(type="checkbox", id="prefs-hwView-swap")
						label(for="prefs-hwView-swap") Swap order of name and subject

						br

						input(type="checkbox", id="prefs-hwView-color")
						label(for="prefs-hwView-color") Disable title coloring

					div(class="modal-body prefs-modal-body", id="prefs-myDay-body")
						p This feature does not have any preferences you can change.

					div(class="modal-body prefs-modal-body", id="prefs-admin-body")
						p This feature does not have any preferences you can change.

					div(class="modal-footer")
						button(type="button", class="btn btn-primary", id="prefs-done") Done

		div(id="planner-move-modal", class="modal fade")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title")
							span Swap subject
					
					div(class="modal-body")
						p
							span Click on the subject you want to swap '
							span(id="swap-subj-name") 
							span ' with.
						ul(id="swap-subj-list")
							li test
							li test
					
					div(class="modal-footer feedback-footer-normal")
						button(type="button", class="btn btn-default", data-dismiss="modal") Close

		div(class="mainContainer")
			ul(class="tabs")
				li(data-step="2", data-intro="This is Overview. This is a work in progress page. Currently, it only says the date, but we are working on adding more.", data-page="overview")
					i(class="fa fa-calendar") 
					span  Overview
				li(data-step="3", data-intro="This is Planner. This is where you enter all of your homework, and where the magic happens.", data-page="planner")
					i(class="fa fa-book")  
					span  Planner
				<!-- li(data-page="myDay") My Day -->
				li(data-step="4", data-intro="This is HW View. All of your homework gets laid out here in an easy-to-understand way!", data-page="hwView")
					i(class="fa fa-file-text") 
					span  HW View
				<!-- li(data-page="prefs") Preferences -->
				if user.level > 0
					li(data-page="admin")
						i(class="fa fa-cog") 
						span  Admin

			button(id="page-pref-btn", class="btn btn-default")
				i(class="fa fa-cog")

			div(class="pages")
				div(id="overview", class="page")
					h3(data-step="1", data-intro="Welcome to PlanHub! This short tour will guide you through the different features. You can feel free to skip it! (just press the skip button below)")
						span Today is 
						span(class="overview-date") a day
						span .
				div(id="planner", class="page")
					div(id="planner-upsell", class="upsell row", data-feature="planner")
						div(class="col-md-3")
							h1 Planner
							h3 Keep track of your assignments online.

							br

							button(class="btn btn-primary upsell-btn", data-feature="planner") Enable

						div(class="col-md-9")
							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/planner01.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Synced to the cloud
									p You can't lose your planner anymore - assignments you write are saved to your Dalton account. Sign back in and your assignments will be right where you left them - even if you're using another device.

							br

							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/planner02.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Tag your assignments
									p Start your assignments with a certain word - like "HW", "Quiz", "Test", Project", or "Essay", and it will automatically be color-coded. This lets you quickly see important events coming up, so you don't get surprised by another long-term project.

							br

							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/planner03.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Add or remove subjects
									p You aren't limited to just five subjects! Add as many as you like! You're also free to rearrange or rename your sections&mdash;it's your planner!

					div(id="planner-hacky-text-measure-thing")
					div(id="planner-status") Saved.
					div(id="planner-controls-wrapper")
						div(id="planner-controls")
							button(id="planner-prev", class="btn btn-default btn-xs")
								i(class="fa fa-arrow-left") 

							span(class="planner-current-week")
								span Week of 
								span(id="planner-week")  

							button(id="planner-next", class="btn btn-default btn-xs")
								i(class="fa fa-arrow-right")

							button(id="planner-jumpTo", class="btn btn-default btn-xs", data-toggle="tooltip", data-placement="bottom", title="Jump to date")
								i(class="fa fa-external-link")

					table
						thead
							tr
								th(class="no-border")
								th
									span(class="planner-dow") Monday
									span(class="planner-day") 
								th
									span(class="planner-dow") Tuesday
									span(class="planner-day") 
								th
									span(class="planner-dow") Wednesday
									span(class="planner-day") 
								th
									span(class="planner-dow") Thursday
									span(class="planner-day") 
								th
									span(class="planner-dow planner-dow-friday") Friday
									span(class="planner-day") 
								th
									span(class="planner-dow") Saturday
									span(class="planner-day") 
								th
									span(class="planner-dow") Sunday
									span(class="planner-day") 
							tr(class="announcement-row")
								th(class="no-border")
								th 
								th 
								th 
								th 
								th 
								th 
								th 
						tbody
							tr(class="planner-welcome hidden")
								td(class="no-border")
								td(colspan="7", class="welcome-box")
									h1 Welcome to Planner.
									h4 Click the "Add subject" button below to get started.
						tfoot
							tr
								td(class="no-border")
								td(class="add-subject", colspan="7") 
									i(class="fa fa-plus")
									span &nbsp;&nbsp;Add subject

				div(id="myDay", class="page")
					div(id="myDay-upsell", class="upsell row", data-feature="myDay")
						div(class="col-md-3")
							h1 My Day
							h3 Plan out your life easily and efficiently.

							br

							button(class="btn btn-primary btn-disabled upsell-btn", data-feature="myDay") Enable

						div(class="col-md-9")
							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/myDay01.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Your custom schedule
									p You tell My Day how much free time you want, how long it takes you to get home, and what clubs you're a part of. We then build a custom schedule based on your parameters and homework information from your planner.

							br

							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/myDay02.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Don't spend all night
									p My Day uses an intelligent algorithm to divide large projects into smaller days. It helps break down long-term assignments into smaller chunks, and ensure that you don't get stuck procrastinating something until the last minute or cramming for a test.

							br

							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/myDay03.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Your data is already here
									p My Day takes information you already have from your PlanHub planner and your schedule. Just sign in, and we'll automatically retrieve your information&mdash;you don't have to type it up again. 

					div(id="myDay-welcome")
						h1 Welcome!
						p(class="lead") Please answer these short questions so we can build your personal schedule. The answers to these questions can always be changed later.
						form(id="myDay-welcome-form")
							

							span Ideally, but realistically, how many of hours of sleep would you like to get each night?
							input(type="number", name="sleepHrs")
							
							br

							span When do you need to wake up in the morning? 
							input(type="time", name="WakeUpTime")
							

							br

							span What is your address? 
								strong We will never use it for anything other than calculating travel time.
							input(type="address", name="Address")

							br

							span Which clubs are you a part of? Multiple clubs are allowed
							select(name="clubs", data-placeholder="Choose a club", multiple="multiple", class="myDay-club-select")
								option(value="")


							br 
							

							span What school do you go to?
							input(type="text", name="School", value="Dalton", disabled="disabled")
							

						button(id="myDay-welcome-submit", class="btn btn-primary btn-lg") Submit

					div(class="row hidden")
						div(class="col-md-8")
							h1 schedule here

						div(class="col-md-4")
							h1 HW stuff goes here

				div(id="hwView", class="page")
					div(id="hwView-upsell", class="upsell row", data-feature="hwView")
						div(class="col-md-3")
							h1 Homework View
							h3 See what assignments you've got in a simple interface.

							br

							button(class="btn btn-primary upsell-btn", data-feature="hwView") Enable

						div(class="col-md-9")
							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/hwView01.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Don't get caught by surprise
									p Homework View shows you tests, quizzes, and other long-term assignments ahead of time - that way, you'll always be on top of what you have to do.

							br

							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/hwView02.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Gets data from your planner
									p Homework View uses information you already have stored in your online planner. There's no extra work required for it to use this data - you don't have to copy your homework into yet another program.

							br

							div(class="upsell-row row")
								div(class="col-md-4")
									img(src="#{basePath}/images/hwView03.png", class="upsell-picture")
								div(class="col-md-8")
									h4 Quick and at-a-glance
									p Homework View lets you see what's due tomorrow, next week, and beyond in a clear, easy, and functional at-a-glance view. Don't switch between weeks or months in your planner&mdash;just use Homework View!

					div(class="row")
						div(class="col-md-4 hwView-tomorrow")
							h3 Due 
								span(class="tomorrow-or-monday") tomorrow
							ul
						div(class="col-md-4 hwView-soon")
							h3 Due soon
							ul
						div(class="col-md-4 hwView-longterm")
							h3 Long-term
							ul

				div(id="prefs", class="page")
					h1 Preferences

					div(id="prefs-hwView")
						h3 Homework View
						
					div(id="prefs-name")
						input(type="text", id="usr-name" value="#{user.name}")
						button(class="btn btn-primary", id="usr-btn") change
					

				if user.level > 0
					div(id="admin", class="page")
						h1 Administrative panel
						h4 Select a task
						ul
							if user.canFeedback > 0
								li(data-page="admin-feedback", class="admin-link")
									a(href="#admin-feedback") View feedback
							if user.canAnnouncements > 0
								li(data-page="admin-announcements", class="admin-link")
									a(href="#admin-announcements") Change announcements
							li(data-page="admin-stats", class="admin-link")
								a(href="#admin-stats") Statistics
							li(data-page="admin-about", class="admin-link")
								a(href="#admin-about") About server
								
					if user.canFeedback > 0
						div(id="admin-feedback", class="page")
							h1 Administrative panel
							h4 View feedback
							div(class="row")
								div(class="col-md-4")
									ul(id="admin-feedback-list")
								div(class="col-md-8")
									h3(id="admin-feedback-content") Select feedback on the left to see it here!
									h5
										span(id="admin-feedback-name") 
										span(id="admin-feedback-username")
									h5(id="admin-feedback-time")
								
					if user.canAnnouncements > 0
						div(id="admin-announcements", class="page")
							h1 Administrative panel
							h4 Change announcements
							h5 Under construction!

					div(id="admin-stats", class="page")
						h1 Administrative panel
						h4 Statistics
						h5 Under construction!

					div(id="admin-about", class="page")
						h1 Administrative panel
						h4 About server
						h5 Under construction!
