extends layout

block styles
	style.
		body {
			overflow-x: hidden;
		}

block scripts
	script(src="#{basePath}/js/skrollr.min.js")
	script(src="#{basePath}/js/index.js")
	script.
		$(document).ready(function() {
			if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
				// we're on a phone, don't init skrollr
				return;
			}
			var s = skrollr.init();
		});

block precontent
	div(class="jumbotron", style="height: 100vh; background-image: url(/images/mainbg.jpg); background-size: cover; background-attachment: fixed;")
		div(class="container")
			h1 Stay organized.
			p MyHomeworkSpace is an online planner that organizes your homework into one place.
			p
				if user
					a(href="#{basePath}/app", class="btn btn-lg btn-primary") Get started
				else
					a(href="#{basePath}/login", id="get-started-modal", class="btn btn-lg btn-primary") Get started
				a(data-scroll="data-scroll", href="#info", class="btn btn-lg btn-default") Learn more

block content
	a(id="info")
	br
	div(class="row")
		div(class="col-md-4")
			img(src="#{basePath}/images/main01.png", class="main-feature-img", data-0="left: -500px;", data-100-top="left: 0px;")

		div(class="col-md-8", data-600-top="opacity: 0;", data-0-top="opacity: 1;")
			h1 Planner
			p(class="lead") Write down your homework in our online planner. Complete with tags, multiple subjects, and announcements of days off, the MyHomeworkSpace planner is a full replacement for a paper planner! In addition, your data is stored with your account, so you can never lose it! Just access MyHomeworkSpace anywhere you've got an Internet connection!

	div(class="row")
		div(class="col-md-8 right-align", data-600-top="opacity: 0;", data-0-top="opacity: 1;")
			h1 HW View
			p(class="lead") Don't get blinded by a test next week! Homework View uses data you already have in your planner to show you not only what you have due tomorrow, but also stay notified about tests or projects coming up soon. Homework View displays this information in a simple and concise column interface, allowing you to quickly see what's due tomorrow, next week, and even after that!

		div(class="col-md-4")
			img(src="#{basePath}/images/main02.png", class="main-feature-img", data-0="left: 500px;", data-100-top="left: 0px;")
			

	div(class="row")
		div(class="col-md-4")
			img(src="#{basePath}/images/main03.png", class="main-feature-img", data-0="left: -500px;", data-100-top="left: 0px;")

		div(class="col-md-8", data-600-top="opacity: 0;", data-0-top="opacity: 1;")
			h1 My Day 
				span(class="label label-default") coming soon
			p(class="lead") Plan out your life using My Day. Import your schedule and what clubs you are a part of, and then have My Day help you sort out what homework you're going to do and when! Plan out labs, long-term assignments, and more. My Day also helps you see how much free time you have and ensures that you never fall behind.
			
	hr
	
	footer
		a(href="https://github.com/MyHomeworkSpace/MyHomeworkSpace")
			i(class="fa fa-github")
			|  View our code on GitHub
		span &nbsp;&bull;&nbsp;
		a(href="http://support.myhomework.space") Help
		span &nbsp;&bull;&nbsp;
		a(href="https://myhomeworkspace.github.io/APIDocs") Developer tools
		span &nbsp;&bull;&nbsp;
		a(href="https://raw.githubusercontent.com/MyHomeworkSpace/MyHomeworkSpace/master/public/images/mysteriousImage.jpg") Join Our Team
		br
		p By using this site, you agree to our 
			a(href="#{basePath}/privacy") Privacy Policy
			| .
