doctype html
html
	head
		title= title

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==",crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css", rel="stylesheet" integrity="sha256-gJ9rCvTS5xodBImuaUYf1WfbdDKq54HCPz9wk8spvGs= sha512-weqt+X3kGDDAW9V32W7bWc6aSNCMGNQsdOpfJJz/qD/Yhp+kNeR+YyvvWojJ+afETB31L0C4eO0pcygxfTgjgw==" crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==", crossorigin="anonymous")
		link(href="#{basePath}/css/style.css", rel="stylesheet")

		script(src="https://code.jquery.com/jquery-2.1.4.min.js", defer)
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==", crossorigin="anonymous", defer)

		style.
			body {
				padding-top: 40px;
			}
			.right-align {
				text-align: right;
			}
			.main-feature-img {
				width: 300px;
				height: 300px;
			}
	body
		nav(class="navbar navbar-default navbar-fixed-top")
			div(class="container-fluid")
				<!-- Brand and toggle get grouped for better mobile display -->
				div(class="navbar-header")
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="#{basePath}/")
						img(src="../images/icon128.png", width="24px", height="24px", class="planhub-logo-nav")
						span PlanHub

				<!-- Collect the nav links, forms, and other content for toggling -->
				div(class="collapse navbar-collapse", id="navbar-collapse")
					ul(class="nav navbar-nav")
						li
							a(href="#{basePath}/about") About

					ul(class="nav navbar-nav navbar-right")
						if user
							li(class="navbar-text")= user.name
							li
								a(href="#{basePath}/app") Go to Overview
							li
								a(href="#{basePath}/logout") Log out
						else
							li
								a(href="#{basePath}/login") Log in

		block precontent

		div(class="container")
			block content
