doctype html
html
	head
		title= title
		<!--[if lt ie9]><meta http-equiv='refresh', content="0;URL=http://myhomeworkspace.github.io/NotSupported/"><![endif]-->
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='keywords', content='MyHomeworkSpace, PlanHub, The Dalton School, Dalton, Planner, HW View')
		meta(name='author', content='MyHomeworkSpace Team')
		meta(name="description", content="MyHomeworkSpace helps you plan and organize your life. It provides an online planner along with tools to help make sure you never fall behind on your homework, tests, or quizzes.")

		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==",crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/yeti/bootstrap.min.css", rel="stylesheet" integrity="sha256-gJ9rCvTS5xodBImuaUYf1WfbdDKq54HCPz9wk8spvGs= sha512-weqt+X3kGDDAW9V32W7bWc6aSNCMGNQsdOpfJJz/qD/Yhp+kNeR+YyvvWojJ+afETB31L0C4eO0pcygxfTgjgw==" crossorigin="anonymous")
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==", crossorigin="anonymous")
		link(href="#{basePath}/css/style.css", rel="stylesheet")
		link(href="#{basePath}/css/sweetalert.css", rel="stylesheet")
		
		script(src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(src="#{basePath}/js/smooth-scroll.min.js")
		script(src="#{basePath}/js/coursesLib.js")
		script(src="#{basePath}/js/sweetalert.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js", integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==", crossorigin="anonymous")

		block scripts

		style.
			body {
				padding-top: 40px;
			}
			.right-align {
				text-align: right;
			}
			.main-feature-img {
				width: 300px;
				height: 300px;
			}
		
		script.
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/56c067a4b87fedbc09c35a3f/1abqh0rd4';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
		
		script(type="text/javascript").
			var _paq = _paq || [];
			_paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
			_paq.push(["setCookieDomain", "*.myhomework.space"]);
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
				var u="//piwik.coursesplus.tk/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', 3]);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			})();
		noscript
			p
				img(src="https://piwik.coursesplus.tk/piwik.php?idsite=3" style="border:0;" alt="")
		// Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent
		script(type='text/javascript').
			window.cookieconsent_options = {
				"message":"MyHomeworkSpace uses cookies to enhance your experience on our website.",
				"dismiss":"Got it!",
				"learnMore":"Read more about how cookies are used on MyHomeworkSpace.",
				"link":"/privacy",
				"theme":"dark-bottom"
			};
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js')
		// End Cookie Consent plugin

	body
		nav(class="navbar navbar-default navbar-fixed-top")
			div(class="container-fluid")
				<!-- Brand and toggle get grouped for better mobile display -->
				div(class="navbar-header")
					button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
						span(class="sr-only") Toggle navigation
						span(class="icon-bar")
						span(class="icon-bar")
						span(class="icon-bar")
					a(class="navbar-brand", href="#{basePath}/")
						img(src="#{basePath}/images/icon24.png", width="24px", height="24px", class="logo-nav")
						span MyHomeworkSpace
						
				<!-- Collect the nav links, forms, and other content for toggling -->
				div(class="collapse navbar-collapse", id="navbar-collapse")
					ul(class="nav navbar-nav")
						if isStaging
							li(class="staging-warning", data-toggle="tooltip", data-placement="bottom", title="You're using MyHomeworkSpace Staging. This is for testing purposes only-don't use it as your real planner!")
								a(href="#{basePath}/staging") Staging
						li
							a(href="#{basePath}/about") About
						li
							a(href="http://blog.myhomework.space") Blog

					ul(class="nav navbar-nav navbar-right")
						if user
							li(class="navbar-text")= user.name
							li
								a(href="#{basePath}/app") Go to Overview
							li
								a(href="#{basePath}/logout") Log out
						else
							li
								a(id="log-in-top", href="#{basePath}/login") Log in

		div(id="loginModal", class="modal fade", tabindex="-1", role="dialog")
			div(class="modal-dialog")
				form(class="modal-content", action="#{global.basePath}/login", method="POST")
					div(class="modal-header")
						button(type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
						h4(class="modal-title") Log in with your Dalton account
					
					div(class="modal-body")
							input(type="text", name="username", class="form-control", placeholder="Username")
							input(type="password", name="password", class="form-control", placeholder="Password")
							p Your password is never stored. It's only used to sign you in and download your schedule and homework.
					
					div(class="modal-footer")
						button(type="button", class="btn btn-default", data-dismiss="modal") Close
						input(type="submit", value="Log in", class="btn btn-primary")

		block precontent

		div(class="container")
			block content
		
		script.
			smoothScroll.init();
			$("[data-scroll]").click(function() {
				window.location.hash = "";
			});
			$("#log-in-top").click(function() {
				$("#loginModal").modal();
				return false;
			});
