extends page

block styles
	link(rel="stylesheet", href="#{staticPath}/css/overview.css")

block scripts
	script(type="text/javascript", src="#{staticPath}/js/overview.js")

block content
	h3
		span Today is 
		span(class="overview-date") a day
		span .
	h4#howmuchhw
	div(id="announcementAlert", class="panel panel-warning", role='alert', width='90%', style="display: none")
		.panel-heading
			h3.panel-title Announcement
		.panel-body
			ul#announcementList
	.panel.panel-primary(style="width: 50%")
		.panel-heading
			h3.panel-title= user.name
		.panel-body
			h5 Your Profile
				p= user.username
				p= user.email
